
 #nav-bar {
    position: fixed;
    background-color: #00a087;
    top: 0;
    width: 100%;
    height: 80px;
    color: #e8fdff; 
    padding-left: 2em;
    padding-right: 2em; 
    
    
  }
 
  #nav-bar .header{
      position:relative;
      line-height: 80px;
      float: left;
    margin-left: 10px;
    font-size: 40px;


} 

#nav-bar .logo{
    height: 80px;
    width: 80px;
    float: left;
  }

